html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
}

td {
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.wrapper-game {
	text-align: center;
}

.vertical-spacer-20 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.label {
	font-size: 1.2em;
}
