@import './node_modules/bootstrap-css-only/css/bootstrap.min';

html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	position: relative;
}

table {
	border-collapse: collapse;
}

td {
	width: 15px;
	height: 15px;
	border: 1px solid black;
	background: black;
}

.label {
	font-size: 1.2em;
}

.my-pic {
	width: 190px;
}

header {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 200;
}

.snake-link-icon {
	display: inline-block;
	background: center no-repeat;
	background-size: contain;
}

.snake-link-icon.in {
	background-image: url('assets/in.png');
	width: 50px;
	height: 50px;
}

.snake-link-icon.git {
	background-image: url('assets/git.png');
	width: 40px;
	height: 40px;
}