@import './node_modules/bootstrap-css-only/css/bootstrap.min';

html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
}

td {
	width: 15px;
	height: 15px;
	border: 1px solid black;
	background: black;
}

.label {
	font-size: 1.2em;
}

.my-pic {
	width: 190px;
}